<header class="navbar">

    <!-- Logo -->

    <div class="logo">

        <a href="homepage.html">
            NoSQLHub
        </a>

    </div>

    <!-- 搜索框 -->
    <div class="search-box">
        <input
            type="text"
            id="searchInput"
            placeholder="搜索帖子或用户..."
        >

        <button
            id="searchBtn"
            class="nav-btn"
        >
            搜索
        </button>

        <div
            id="suggestionBox"
            class="suggestion-box"
        >
        </div>

    </div>

    <!-- 用户区域 -->
    <div
        class="user-area"
        id="userArea"
    >
    </div>

</header>